@charset "UTF-8";
/* clearfix */
.clearfix,
#header,
#main,
#footer {
	*zoom: 1;
}
.clearfix:before,
#header:before,
#main:before,
#footer:before,
.clearfix:after,
#header:after,
#main:after,
#footer:after {
	content: "";
	display: table;
}
.clearfix:after,
#header:after,
#main:after,
#footer:after {
	clear: both;
}

/*----------------------------------------------------
	再設定
----------------------------------------------------*/
html {
	font-size: 16px;
}
body {
	font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	line-height: 1.6;
	color: #333333;
	font-size: 12px;
	font-size: 0.75rem;
}

a:link,
a:visited {
	color: #2489ce;
}
a:hover,
a:active {
	color: #72b7e6;
}

p {
	margin-bottom: 1em;
}

/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
.container,
#header,
#main,
#footer {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

/*----------------------------------------------------
	#header
----------------------------------------------------*/
#header {
	line-height: 1;
}
#header img {
	vertical-align: top;
}
#header .navi li {
	float: left;
}

/*----------------------------------------------------
	#main
----------------------------------------------------*/
/*----------------------------------------------------
	#footer
----------------------------------------------------*/
#footer a:link,
#footer a:visited,
#footer a:active {
	color: #333333;
	text-decoration: none;
}
#footer a:hover {
	color: #333333;
	text-decoration: underline;
}
#footer .copyright {
	text-align: center;
}
