@charset "UTF-8";
/* clearfix */
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
/*----------------------------------------------------
	ページ
----------------------------------------------------*/
body#index #content .product {
	*zoom: 1;
	margin-bottom: 50px;
}
body#index #content .product:before,
body#index #content .product:after {
	content: "";
	display: table;
}
body#index #content .product:after {
	clear: both;
}
