<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>お問合せ | サイトの名前</title>
	<meta name="keywords" content="キーワード,サイトの名前" />
	<meta name="description" content="サイトの名前" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../css/import.css" type="text/css" media="all" />
  	<link rel="stylesheet" href="../css/bootstrap-components.css" type="text/css" media="all" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="../js/script.js" charset="utf-8"></script>
	<!--[if lte IE 6]>
	<script type="text/javascript" src="/js/DD_belatedPNG_min.js"></script>
	<script type="text/javascript">DD_belatedPNG.fix('.png_bg,img');</script>
	<![endif]-->
</head>
<body>
<!-- [#header] -->
<div id="header" class="container">
	<h1><a href="">h1</a></h1>
	<div class="h_desctiption">
		<p>h_description</p>
	</div>
	<address>
		address
	</address>
	<div class="navi">
		<ul>
			<li><a href="" title="xxx">xxx</a></li>
		</ul>
	</div>
</div>
<!-- [/#header] -->
<div id="main" class="z container">
	<div id="box_contents" class="format1">
		<div id="contents_h" class="contact" style="position:relative;">
			<p id="pankuzu"><a href="../index.html">ホーム</a> &gt; 資料請求・お問合せ</p>
			<h2 id="c_title">資料請求・お問合せ</h2>
		</div>
			
			
<form action="{{$url}}" method="post" name="form1">
	<table width="100%" border="0" class="table_site">
		<tr>
			<td><p class="mb_12">送信完了</p>
				<p class="mb_12 ml_12">ありがとうございました。後日、担当者よりご連絡させていただきます。<br />
					ご送信後、1週間以上回答がない場合は、恐れ入りますが直接ご連絡いただきますようお願い致します。</p>
				<p class="mb_12 ml_12">&gt;&gt; <a href="../">ホームに戻る</a></p></td>
		</tr>
	</table>
</form>


		</div>
	<div id="box_side">
		side
	</div>
</div>
<!-- [/#main] -->
<!-- [#footer] -->
<div id="footer" class="container">
	<ul>
		<li><a href="">フッターナビ</a></li>
	</ul>
	<div class="copy">
		copyright &copy;
	</div>
</div>
<!-- [/#footer] -->
</body>
</html>