<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>お問合せ | サイトの名前</title>
	<meta name="keywords" content="キーワード,サイトの名前" />
	<meta name="description" content="サイトの名前" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../css/import.css" type="text/css" media="all" />
  	<link rel="stylesheet" href="../css/bootstrap-components.css" type="text/css" media="all" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="../js/script.js" charset="utf-8"></script>
	<!--[if lte IE 6]>
	<script type="text/javascript" src="/js/DD_belatedPNG_min.js"></script>
	<script type="text/javascript">DD_belatedPNG.fix('.png_bg,img');</script>
	<![endif]-->
</head>
<body>
<!-- [#header] -->
<div id="header" class="container">
	<h1><a href="">h1</a></h1>
	<div class="h_desctiption">
		<p>h_description</p>
	</div>
	<address>
		address
	</address>
	<div class="navi">
		<ul>
			<li><a href="" title="xxx">xxx</a></li>
		</ul>
	</div>
</div>
<!-- [/#header] -->
<div id="main" class="z container">
	<div id="box_contents" class="format1">
		<div id="contents_h" class="contact" style="position:relative;">
			<p id="pankuzu"><a href="../index.html">ホーム</a> &gt; 資料請求・お問合せ</p>
			<h2 id="c_title">資料請求・お問合せ</h2>
		</div>
			
<form action="{{$url}}" method="post" name="form1">
	<p>内容を確認後、よろしければ「送信」ボタンを押してください。</p>
<input type="hidden" name="act" value="submit" />
{{if $hidden}}
{{foreach from=$hidden key="k" item="v"}}
{{if is_array($v)}}
{{foreach from=$v key="kk" item="vv"}}
<input type="hidden" name="{{$k}}[]" value="{{$vv}}" />
{{/foreach}}
{{else}}
<input type="hidden" name="{{$k}}" value="{{$v}}" />
{{/if}}
{{/foreach}}
{{/if}}
	<table width="100%" border="0" class="table_site">
		<tr>
			<td colspan="2">　{{$prm.siryou}}</td>
		</tr>
		<tr>
			<th scope="row">お名前 </th>
			<td>{{$prm.name}}</td>
		</tr>
		<tr>
			<th scope="row">フリガナ</th>
			<td>{{$prm.name_kana}}</td>
		</tr>
		<tr>
			<th scope="row">住所</th>
			<td>〒
				{{$prm.zip1}}
				-
				{{$prm.zip2}}
				<br />
				{{$prm.address}}</td>
		</tr>
		<tr>
			<th scope="row">電話番号</th>
			<td>{{$prm.tel}}</td>
		</tr>
		<tr>
			<th scope="row">携帯電話</th>
			<td>{{$prm.mobail}}</td>
		</tr>
		<tr>
			<th scope="row">FAX番号</th>
			<td>{{$prm.fax}}</td>
		</tr>
		<tr>
			<th scope="row">Eメール</th>
			<td>{{$prm.mail}}</td>
		</tr>
		<tr>
			<th scope="row">アンケート</th>
			<td>
{{foreach from=$prm.referer key="key" item="value"}} {{$value}}<br />
{{/foreach}}
			</td>
		</tr>
		<tr>
			<th scope="row">ご質問内容を<br />
				ご記入ください。</th>
			<td>{{$prm.comment|nl2br}}</td>
		</tr>
	</table>
	<p class="center mt_12">
		<input type="submit" value="< 戻る" style="width:100px;" onclick="this.form.act.value='entry';" class="span2 btn" />
        <!--new analytics-->
		<input type="submit" value="送信 >" style="width:100px; margin-left:1px;" onClick="javascript:_gaq.push(['_trackPageview', '/contact/thanks.html']);" class="span2 btn" />
        <!--old analytics
        <input type="submit" value="送信 >" style="width:100px; margin-left:1px;" onClick="javascript:pageTracker._trackPageview('/contact/thanks.html');" />
        //-->
　 					</p>
</form>


		</div>
	<div id="box_side">
		side
	</div>
</div>
<!-- [/#main] -->
<!-- [#footer] -->
<div id="footer" class="container">
	<ul>
		<li><a href="">フッターナビ</a></li>
	</ul>
	<div class="copy">
		copyright &copy;
	</div>
</div>
<!-- [/#footer] -->
</body>
</html>