<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>お問合せ | サイトの名前</title>
	<meta name="keywords" content="キーワード,サイトの名前" />
	<meta name="description" content="サイトの名前" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" href="../css/import.css" type="text/css" media="all" />
  	<link rel="stylesheet" href="../css/bootstrap-components.css" type="text/css" media="all" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="../js/script.js" charset="utf-8"></script>
	<!--[if lte IE 6]>
	<script type="text/javascript" src="/js/DD_belatedPNG_min.js"></script>
	<script type="text/javascript">DD_belatedPNG.fix('.png_bg,img');</script>
	<![endif]-->
</head>
<body>
<!-- [#header] -->
<div id="header" class="container">
	<h1><a href="">h1</a></h1>
	<div class="h_desctiption">
		<p>h_description</p>
	</div>
	<address>
		address
	</address>
	<div class="navi">
		<ul>
			<li><a href="" title="xxx">xxx</a></li>
		</ul>
	</div>
</div>
<!-- [/#header] -->
<div id="main" class="z container">
	<div id="box_contents" class="png">
		<div id="contents_h" class="contact" style="position:relative;">
			<p id="pankuzu"><a href="../index.html">ホーム</a> &gt; 資料請求・お問合せ</p>
			<h2 id="c_title">資料請求・お問合せ</h2>
		</div>
			
			
<form action="{{$url}}" method="post" name="form1">
	<p>以下のフォームに各項目とお問合せの内容を入力し「確認する」ボタンを押してください。</p>
	<p>フォーム送信が出来ない場合は、以下の内容をメールにてお送りください。<br />
		<a href="mailto:info@risefactory.net">info@risefactory.net</a></p>
        <p><span class="caution bold">※</span>は必須項目</p>
	<input type="hidden" name="act" value="confirm" />
{{if $error}}
<p class="mb_12 caution">{{foreach from=$error key="key" item="value"}} {{$value}}<br />
	{{/foreach}}</p>
{{/if}}
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_site">
		<tr>
			<td colspan="2">　
				<label>
				<input name="siryou" type="radio" value="資料請求"{{if $prm.siryou=="資料請求"}} checked="checked"{{/if}} />
				資料請求 </label>
　　
				<label>
				<input name="siryou" type="radio" value="お問合せ"{{if $prm.siryou=="お問合せ"}} checked="checked"{{/if}} />
				お問合せ </label>
			</td>
		</tr>
		<tr>
			<th scope="row">お名前<span class="caution bold">※</span></th>
			<td><input name="name" type="text" value="{{$prm.name}}" class="span4" /></td>
		</tr>
		<tr>
			<th scope="row">フリガナ<span class="caution bold">※</span></th>
			<td><input name="name_kana" type="text" value="{{$prm.name_kana}}" class="span4" /></td>
		</tr>
		<tr>
			<th scope="row">住所<span class="caution bold">※</span></th>
			<td>〒
				<input name="zip1" type="text" value="{{$prm.zip1}}" class="span1" />
				-
				<input name="zip2" type="text" value="{{$prm.zip2}}" class="span1"/>
				<br />
				<input name="address" type="text" value="{{$prm.address}}" class="span4" /></td>
		</tr>
		<tr>
			<th scope="row">電話番号</th>
			<td><input name="tel" type="text" value="{{$prm.tel}}" class="span4" /></td>
		</tr>
		<tr>
			<th scope="row">携帯電話</th>
			<td><input name="mobail" type="text" value="{{$prm.mobail}}" class="span4" /></td>
		</tr>
		<tr>
			<th scope="row">FAX番号</th>
			<td><input type="text" name="fax" value="{{$prm.fax}}" class="span4" /></td>
		</tr>
		<tr>
			<th scope="row">メールアドレス<span class="caution bold">※</span></th>
			<td><input type="text" name="mail" value="{{$prm.mail}}" class="span4" /></td>
		</tr>
		<tr>
			<th scope="row">チェックボックス</th>
			<td>
			{{html_checkboxes name='referer' options=$checkbox_1 selected=$checkbox_selected_1 separator='<br />'}}
			</td>
		</tr>
		<tr>
			<th scope="row">お問合せ内容</th>
			<td><textarea name="comment" style=" height:100px;" class="span4" >{{$prm.comment}}</textarea></td>
		</tr>
	</table>
	<p class="center mt_12">
		<input type="submit" value="確認" class="span2 btn" />
	</p>
</form>


	</div>
	<div id="box_side">
		side
	</div>
</div>
<!-- [/#main] -->
<!-- [#footer] -->
<div id="footer" class="container">
	<ul>
		<li><a href="">フッターナビ</a></li>
	</ul>
	<div class="copy">
		copyright &copy;
	</div>
</div>
<!-- [/#footer] -->
</body>
</html>