@charset "utf-8";

// ===================================================================
// 変数
// ===================================================================

// 横幅
$width: 960px;

// カラー
$color: #333;
$color1: #ff7373;
$color2: #86b32d;
$linkcolor: #2489ce;

// ===================================================================
// 汎用クラス
// ===================================================================
/* clearfix */
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// ===================================================================
// mixin
// ===================================================================

@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin link_no($color: $color) {
	a {
		&:link, &:visited, &:active {
			color: $color;
			text-decoration: none;
		}
		&:hover {
			color: $color;
			text-decoration: underline;
		}
	}
}

@mixin css3($property, $value) {
	@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
		#{$prefix}#{$property}: $value;
	}
}

@mixin fs($size: 12, $base: 16) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}


// ===================================================================
// function
// ===================================================================

