@charset "utf-8";
@import "compass";
@import "import";

/*----------------------------------------------------
	再設定
----------------------------------------------------*/
html {
	font-size: 16px;
}
body {
	font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	line-height: 1.6;
	color: $color;
	@include fs(12);
}
a {
	&:link, &:visited {
		color: $linkcolor;
	}
	&:hover, &:active {
		color: lighten($linkcolor, 20%);
	 }
}
img {

}
p { margin-bottom: 1em; }


/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
.container {
	position: relative;
	width: $width;
	margin: 0 auto;
}

/*----------------------------------------------------
	#header
----------------------------------------------------*/
#header {
	@extend .clearfix;
	@extend .container;
	line-height:1;
	img {
		vertical-align: top;
	}
	h1 {
		
	}
	.navi {
		li {
			float: left;
		}
	}
}


/*----------------------------------------------------
	#main
----------------------------------------------------*/
#main {
	@extend .clearfix;
	@extend .container;
	#content {
		
	}
	#side {
		
	}
}



/*----------------------------------------------------
	#footer
----------------------------------------------------*/
#footer {
	@extend .clearfix;
	@extend .container;
	@include link_no;
	.copyright {
		text-align: center;
	}
}

