@charset "utf-8";
@import "compass";
@import "import";

/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/




/*----------------------------------------------------
	ページ
----------------------------------------------------*/
body#index #content {
	.product {
		@include clearfix;
		margin-bottom: 50px;
	}
}
